@import "./reset.css";
@import "./typography.css";

:root {
  --color--primary: #fd377e;
  --color--primary-2: #e34981;
  --color--secundary: #03b898;
  --color--grey: #f8f9fa;
  --color--grey-2: #e9ecef;
  --color--grey-3: #343a40;
  --color--grey-4: #212529;
  --color--grey-5: #868e96;
  --white: #ffffff;
  --black: #000000;
}

.container {
  width: 100%;
  max-width: 75%;
  margin: 0 auto;
}

body {
  background: #343a40;
  height: 100vh;
}
